/* styles/globals.css */
@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:wght@400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Inter Tight', sans-serif; /* Inter Tight für die gesamte Seite */
  /* Hintergrund auf transparent, Farbverlauf kommt über Layout.js */
  background-color: transparent; 
  color: #333;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  cursor: pointer;
  border: none;
  background: none;
}
